.Nav-Admin {
    height: 80vh;
    width: 200px;
    background-color: rgb(42, 41, 41);
    position: fixed;
    left: 10px;
    top: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .link {
        width: 90%;
        margin: auto;
        border-radius: 10px;
    }

    .link:hover {
        cursor: pointer;
        font-weight: bold;
        background-color: rgb(97, 93, 93);
    }

    a {
        text-decoration: none;
        color: white;
    }
}